<!DOCTYPE html>
<html>
 
<head>
    <title>Project2 Game</title>
    </title>
</head>
 
<body>

    <h2>Fight Page</h2>
    <h2>Here's your char:</h2>
    
<table>
    <thead> 
        <th>Id</th> 
        <th>Div id</th> 
        <th>Char name</th> 
        <th>HP</th> 
        <th>Attack</th> 
        <th>Defence</th> 
    </thead> 
    <tbody>
        {{#each chars}}
        <tr> 
            <td>{{id}}</td> 
            <td>{{div_id}}</td> 
            <td>{{char_name}}</td>
            <td>{{hp}}</td> 
            <td>{{attack}}</td> 
            <td>{{defence}}</td> 
        </tr>
        {{/each}}
    </tbody> 
</table> 
 

<form action="/logout">
    <input type="submit" value="Logout" />
</form>
</body>
 
</html>