<!DOCTYPE html>
<html>
 
<head>
    <title>Project2 Game</title>
    </title>
</head>
 
<body>
    <h1>Welcome {{firstname}}</h1>
    <h2>Dashboard</h2>
    
<table>
    <thead> 
        <th>Id</th> 
        <th>Div id</th> 
        <th>Char name</th> 
        <th>HP</th> 
        <th>Attack</th> 
        <th>Defence</th> 
    </thead> 
    <tbody> 
        <tr> 
            <td>{{chars.id}}</td> 
            <td>{{chars.div_id}}</td> 
            <td>{{chars.char_name}}</td>
            <td>{{chars.hp}}</td> 
            <td>{{chars.attack}}</td> 
            <td>{{chars.defence}}</td> 
        </tr> 
    </tbody> 
</table> 
 

<form action="/logout">
    <input type="submit" value="Logout" />
</form>
</body>
 
</html>